# .gitignore for ASP.NET Core / .NET projects
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vs/
.vscode/
*.dbmdl
*.log
*.pdb
*.cache
*.ide
*.sdf
*.sln.ide
*.swp
*.tmp
*.bak
*.ncb
*.opendb
*.publishsettings
*.vspscc
*.vssscc
*.TestResults/
TestResults/
*.nupkg
*.snupkg
*.publish/
wwwroot/lib/
appsettings.Development.json
appsettings.Production.json
appsettings.Staging.json
.env
